/* h1{
    border-style: solid;
    border-color: rgb(242, 7, 7);

border-width: 5px 10px 15px 20px;
border-radius: 10px;

} */
/* short hand  */
h1{
    border: 5px solid rebeccapurple;
    border-radius: 10px;
}