body{
    background-image: url(https://i.pinimg.com/564x/9b/a2/57/9ba25796112cad616be27e473ae1e149.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: peachpuff;}