/* a{
    color: red;
} */
a:link{
color: blueviolet;
text-decoration: none;
}
a:visited{
    color: green;
}
a:hover{
    color: aquamarine;
    text-decoration: underline;
    background-color: black;
}
a:active{
    color: bisque;
}